.container h2 {
    width: 20rem;
    border-bottom: .4rem solid var(--primaryBlue);
    color: var(--primaryBlue);
}

.container article {
    background-color: var(--primaryBlue);
    padding: 1.6rem;
    margin: 4rem 2rem;
    border-radius: 1rem;
    color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.75) 0 .5rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.container article:hover {
    cursor: pointer;
}

.publish {
    font-style: italic;
}

.category {
    width: 25rem;
    padding: 1rem;
    border-radius: 5rem;
    text-align: center;
    text-transform: uppercase;
}

.rules {
    background-color: #CA5858;
}

.mental {
    background-color: #7BC270;
}

.routine {
    background-color: #d9744f;
}

.other {
    background-color: var(--threadBlue);
}

/* TODO modifier le nom de la class */
.update {
    background-color: #B358CA;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.pagination ul {
    display: flex;
    padding: 0;
    margin: 0;
}

.pagination li {
    list-style: none;
    margin: 0 .5rem;
}

.pagination a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: var(--primaryBlue);
    border: 1px solid var(--primaryBlue);
    border-radius: 50%;
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.pagination a:hover {
    background-color: var(--secondaryBlue);
    border-color: var(--secondaryBlue);
    color: var(--threadBlue);
}

.paginationDisabled {
    display: none;
}

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #fff;
    border-radius: 1rem;
    padding: 2rem;
    width: 80%;
    max-width: 800px;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .modalContent h3 {
    color: var(--primaryBlue);
    margin-bottom: 1rem;
  }
  
  .modalContent p {
    color: var(--darkGrey);
    margin-bottom: 1rem;
  }
  
  .modalContent button {
    cursor: pointer;
    background-color: var(--primaryBlue);
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    align-self: flex-end;
    transition: background-color 0.3s ease;
  }
  
  .modalContent button:hover {
    background-color: var(--secondaryBlue);
  }