:root {
  --primaryBlue : #0B2545;
  --secondaryBlue : #134074;
  --threadGreen : #9FC490;
  --white: #EEF4ED;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
}

h1 {
  font-size: 3.4rem;
}

h2 {
  font-size: 3rem;
  padding: .5rem;
  color: var(--primaryBlue);
}

h3 {
  font-size: 2.6rem;
}

p {
  font-size: 1.8rem;
}

section {
  padding: 1rem;
}

#root {
  display: flex;
}

main {
  width: 100%;
  min-height: 100vh;
  padding: 2rem;
  margin-left: 0px;
}

p, li {
  line-height: 2rem;
}

/* Scrollbar style */
::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


/* ====================================================== */
/* =======================  DESKTOP ===================== */
/* ====================================================== */

@media screen and (min-width:1024px) {

  main{
    margin-left: 320px;
  }

  h1 {
    font-size: 3.2rem;
  }
  
  h2 {
    font-size: 2.8rem;
  }
  
  h3 {
    font-size: 2.4rem;
  }
  
  p {
    font-size: 1.6rem;
  }

}



