:root {
  --primaryBlue : #0B2545;
  --secondaryBlue : #134074;
  --threadBlue : #9FC490;
  --white: #EEF4ED;
}
/* #DDCA7D  #CEB992  #9FC490*/


*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: 'Josefin Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--white);
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
  padding: .5rem;
  color: var(--primaryBlue);
}

h3 {
  font-size: 2.4rem;
}

p {
  font-size: 1.6rem;
}

section {
  padding: 1rem;
}

/* TODO Check for mobil first */
#root {
  display: flex;
}

main {
  width: 100%;
  height: 100vh;
  padding: 2rem;
  margin-left: 320px;
}

p {
  line-height: 2rem;
}






