.userInfo, .activityUser {
    background-color: var(--primaryBlue);
    color: white;
    border-radius: 1.5rem;
    padding: 1.5rem;
    position: relative;
    flex: 1;
}

.userInfo h3 {
    margin-bottom: 1.5rem;
}

.userInfo button {
    position: absolute;
    color: var(--threadBlue);
    background-color: var(--white);
    border-radius: 50%;
    border: none;
    font-size: 3rem;
    right: 1.5rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: all 0.3s ease;
}

.userInfo button:hover {
    cursor: pointer;
    color: var(--secondaryBlue);
    transform: scale(1.1);
}

.userInfo dl {
    font-size: 1.6rem;
}

.userInfo dd {
    padding-bottom : 1rem;
    margin-left : 1rem;
    margin-bottom : 1rem;
    border-bottom: white solid .1rem;
}

.userInfo dt {
    margin-bottom : .5rem;
}

.ctnSection {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
