.wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
    color: white;
}

.wrapper section {
    width: 100%;
}

.ctnWeather, .ctnPin, .ctnNews, .ctnChat {
    background-color: var(--primaryBlue);
    border-radius: 1.4rem;
}

.whiteTitle {
    color: var(--white);
}

.ctnEvent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.activitiesList {
    list-style-type: none;
    font-size: 1.6rem;
}

.activityItem {
    margin: 1rem;
    border-bottom : 1px solid white;
    padding: 1rem;
}

.events {
    color: var(--secondaryBlue);
    border: .1rem solid var(--secondaryBlue);
    border-radius: 1.4rem;
    padding: 1.5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px .5rem 1.5rem;
}

.location {
    margin-left: 1.5rem;
    margin-top: 1rem;
}

/* ====================================================== */
/* =======================  TABLET ====================== */
/* ====================================================== */

@media screen and (min-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 4rem;
        grid-auto-rows: minmax(5rem, auto);
        padding: 2rem;
        color: white;
    }

    .ctnNews {
        grid-column: 1/3;
        grid-row: 2;
    }
    
    .ctnEvent {
        grid-column: 1/3;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}


/* ====================================================== */
/* =======================  DESKTOP ===================== */
/* ====================================================== */

@media screen and (min-width:1024px) {
    
    .wrapper section {
        overflow-y: auto;
    }
    
    .ctnWeather, .ctnPin, .ctnNews, .ctnChat {
        background-color: var(--primaryBlue);
        border-radius: 1.4rem;
    }
    
    .whiteTitle {
        color: var(--white);
    }
    
  }
  

  @media screen and (min-width: 1594px) {

    .wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 4rem;
        grid-auto-rows: minmax(5rem, auto);
        padding: 2rem;
        color: white;
    }

    .ctnWeather {
        grid-column: 1;
        grid-row: 1;
    }
    
    .ctnPin {
        grid-column: 2;
        grid-row: 1;
    }
    
    .ctnNews {
        grid-column: 3/5;
        grid-row: 1;
    }
    
    .ctnEvent {
        grid-column: 1/3;
        grid-row: 2/5;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
  
  }