/* ====================================================== */
/* ================= HEADER MOBIL First ================= */
/* ====================================================== */

.leftHeader .navGeneral {
  min-height: 100vh;
  max-height: 100vh;
  width: 320px;
  background: var(--primaryBlue);
  color: var(--white);
  position: fixed;
  z-index: 1;
  transition: all .2s ease-in;
  left: -320px;
  padding-top: 2rem;
  display: none;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.leftHeader .menuActive {
  left: 0;
  display: block;
}

.leftHeader .burger {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  right: 1rem;
  transform: translate(-50%, -50%);
  background: #f1f1f1;
  cursor: pointer;
  z-index: 20;
  border: none;
}

.leftHeader .ligne {
  width: 50%;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background: #000;
}

.leftHeader .ligne::after,
.leftHeader .ligne::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background: #000;
  border-radius: 2px;
  position: absolute;
  transition: transform .2s ease-in-out;
}

.leftHeader .ligne::after {
  top: -8px;
}

.leftHeader .ligne::before {
  top: 8px;
}

.leftHeader .activeBurger .ligne::before {
  transform: translateY(-8px) rotate(-45deg)
}

.leftHeader .activeBurger .ligne::after {
  transform: translateY(8px) rotate(45deg)
}

.leftHeader .activeBurger .ligne {
  background: transparent;
}

.leftHeader .navHeader {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  gap: 1.2rem;
}

.leftHeader .navHeader span {
  font-size: 1.6rem;
}

.leftHeader .navProfil {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.leftHeader .navProfil img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.leftHeader .navProfil figcaption {
  margin: 1rem 0;
  font-size: 2.4rem;
  text-align: center;
}

.leftHeader .navActions a {
  color: var(--white);
  font-weight: 600;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1.6rem;
}

.leftHeader .navList {
  font-size: 2.2rem;
  margin: 6rem 0;
  padding-left: 3.4rem;
  list-style: none;
}

.leftHeader .navList li {
  margin: 1.2rem 0;
  font-weight: 500;
  transition: all .2s ease-in-out;
}

.leftHeader .navList li a {
  text-decoration: none;
  color: var(--white);
}

.leftHeader .navFooter {
  text-align: center;
  bottom: 1rem;
  font-size: 1.4rem;
}

.leftHeader .navFooter a {
  color: var(--threadGreen);
  text-decoration: none;
}

.leftHeader .navList a.active {
  color: var(--threadGreen);
  border-bottom: 1px solid var(--threadGreen);
}

.leftHeader .btnSignout {
  background: none;
  border: none;
  color: var(--white);
  font-size: 1.6rem;
}

.leftHeader .btnSignout:hover {
  color: var(--threadGreen);
  cursor: pointer;
}


/* @media screen and (min-width: 768px) {

} */

/* ====================================================== */
/* =================== HEADER DESKTOP =================== */
/* ====================================================== */

@media screen and (min-width:1024px) {
  .leftHeader .navGeneral {
    left: 0;
    display: block;
  }

  .leftHeader .burger {
    display: none;
  }

  .leftHeader .navList li:hover {
    transform: translateX(1.6rem);
  }

  .leftHeader .navActions a:hover {
    color: var(--threadGreen);
  }

  .leftHeader .navFooter {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4rem;
  }
}